/.settings/*

/html-template/*
/bin/*
/published/*
/deployed/*
/dist/*
/docs/*
/obj/*
/uml/*
.svn

/build/asd-config.xml
.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
setEnv.sh

Icon
Thumbs.db
.DS_Store